<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <div class="container">
    <h1>Save <strong>any</strong> kind of movies!</h1>
    <p>Classic</p>
  </div>
</div>
<div class="container">
  <div class="justify-content">
    <h2>My lists</h2>
    <%= link_to 'New list', new_list_path, class: "btn btn-gradient" %>
  </div>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1611021809244-83074a8a42c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80)">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
